
/* #header
---------------------------------------------*/
.header {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
}
.header .inner {
	padding: 0;
	margin:0 auto;
	max-width:1000px;
}

/* .header .gnav */
.header .gnav {
	display:block;
	width:100%;
	border-top: 1px solid #ccc;
}




.header .gnav ul {
	text-align: center;
}
.header .gnav ul li {
	display: inline-block;
	vertical-align: middle;

}
.header .gnav ul li img.logo  {
	display: inline-block;
	width: auto;
	height: 35px;
}
.header .gnav ul li a {
	padding: 0 30px;
	display: block;
}
.header .gnav ul li a img {
	vertical-align: top;
	width: 100%;
}
